<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"main-home-page","layout":{"type":"default"}} -->
<main class="wp-block-group main-home-page offspring-gap-0">
    <!-- wp:pattern {"slug":"offspring/hero"} /-->
    <!-- wp:pattern {"slug":"offspring/who-we-are"} /-->
    <!-- wp:pattern {"slug":"offspring/services"} /-->
    <!-- wp:pattern {"slug":"offspring/popular-destination"} /-->
    <!-- wp:pattern {"slug":"offspring/photo-gallery"} /-->
  <!-- wp:pattern {"slug":"offspring/posts-section"} /-->
  <!-- wp:pattern {"slug":"offspring/partner-logos"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
