<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"main-home-page","layout":{"type":"default"}} -->
<main class="wp-block-group main-home-page PediCare-Child-Health-Clinic-gap-0">
    <!-- wp:pattern {"slug":"PediCare-Child-Health-Clinic/hero"} /-->
    <!-- wp:pattern {"slug":"PediCare-Child-Health-Clinic/welcome"} /-->
    <!-- wp:pattern {"slug":"PediCare-Child-Health-Clinic/services"} /-->
    <!-- wp:pattern {"slug":"PediCare-Child-Health-Clinic/clinics"} /-->
    <!-- wp:pattern {"slug":"PediCare-Child-Health-Clinic/our-team"} /-->
    <!-- wp:pattern {"slug":"PediCare-Child-Health-Clinic/book-appointment"} /-->
  <!-- wp:pattern {"slug":"PediCare-Child-Health-Clinic/posts-section"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
