<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"contact-page-section PediCare-Child-Health-Clinic-gap-0","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"1360px","wideSize":"1360px","justifyContent":"left"}} -->
<main class="wp-block-group contact-page-section PediCare-Child-Health-Clinic-gap-0" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"style":{"spacing":{"padding":{"top":"0px","right":"0","bottom":"0px","left":"0"},"blockGap":{"top":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
    <div class="wp-block-columns" style="padding-top:0px;padding-right:0;padding-bottom:0px;padding-left:0"><!-- wp:column -->
        <div class="wp-block-column"><!-- wp:heading {"level":5,"className":"PediCare-Child-Health-Clinic-who-we-are_sub-title has-subtitle-color","fontFamily":"poppins"} -->
            <h5 class="wp-block-heading PediCare-Child-Health-Clinic-who-we-are_sub-title has-subtitle-color has-poppins-font-family">CONTACT US</h5>
            <!-- /wp:heading -->

            <!-- wp:heading {"className":"has-text-color has-poppins-font-family","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|30"}}}} -->
            <h2 class="wp-block-heading has-text-color has-poppins-font-family" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--30)">Feel Free to Contact</h2>
            <!-- /wp:heading -->

            <!-- wp:contact-form-7/contact-form-selector {"id":63,"hash":"3d54b2d","title":"Contact form 1"} -->
            <div class="wp-block-contact-form-7-contact-form-selector">[contact-form-7 id="3d54b2d" title="Contact form 1"]</div>
            <!-- /wp:contact-form-7/contact-form-selector --></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:code {"className":"PediCare-Child-Health-Clinic-map PediCare-Child-Health-Clinic-gap-0 PediCare-Child-Health-Clinic-p-0"} -->
<pre class="wp-block-code PediCare-Child-Health-Clinic-map PediCare-Child-Health-Clinic-gap-0 PediCare-Child-Health-Clinic-p-0">
    <code>
    <iframe style="width:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.4198048504795!2d-0.08615712338005012!3d51.50551377181294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603503d4fd043%3A0xa32a769e04757274!2zMSBCYXR0bGUgQnJpZGdlIExuLCBMb25kb24gU0UxIDJIUCwg0JLQtdC70LjQutC-0LHRgNC40YLQsNC90LjRjw!5e0!3m2!1sru!2sua!4v1692970672029!5m2!1sru!2sua" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">

    </iframe>
    </code>
</pre>
<!-- /wp:code -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->