<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"className":"no-margin no-padding PediCare-Child-Health-Clinic-gap-0","layout":{"type":"constrained","contentSize":"1170px","wideSize":"1200px"}} -->
<main class="wp-block-group alignfull no-margin no-padding PediCare-Child-Health-Clinic-gap-0" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:columns -->
		<div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
			<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","theme":"PediCare-Child-Health-Clinic","area":"uncategorized"} /--></div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
			<div class="wp-block-column" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;flex-basis:66.66%"><!-- wp:group {"tagName":"main","className":"animated animated-fadeInUp","layout":{"inherit":false}} -->
				<main class="wp-block-group animated animated-fadeInUp"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
					<div class="wp-block-group"><!-- wp:post-title {"level":1,"align":"left","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

						<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"0px","top":"0px","right":"0px","left":"0px"}}}} /-->

						<!-- wp:post-content {"align":"wide","layout":{"inherit":false}} /--></div>
					<!-- /wp:group -->

					<!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","bottom":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
					<div class="wp-block-group" style="padding-top:20px;padding-bottom:20px"><!-- wp:group {"layout":{"type":"flex"}} -->
						<div class="wp-block-group"><!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

							<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
						<!-- /wp:group --></div>
					<!-- /wp:group -->

					<!-- wp:group {"style":{"spacing":{"blockGap":"80px","padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}},"color":{"background":"#ffffff"}},"className":"has-no-hover-shadow-dark animated animated-fadeInUp fadeInUp","layout":{"inherit":true,"type":"constrained"}} -->
					<div class="wp-block-group has-no-hover-shadow-dark animated animated-fadeInUp fadeInUp has-background" style="background-color:#ffffff;padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px"><!-- wp:comments {"legacy":true,"className":"no-margin no-padding"} /--></div>
					<!-- /wp:group --></main>
				<!-- /wp:group --></div>
			<!-- /wp:column --></div>
		<!-- /wp:columns --></div>
	<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->