<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"pedicare-child-health-clinic-gap-0","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"1360px"}} -->
<main class="wp-block-group pedicare-child-health-clinic-gap-0" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"40px"},"padding":{"top":"0","bottom":"0"}}}} -->
    <div class="wp-block-columns" style="margin-bottom:40px;padding-top:0;padding-bottom:0"><!-- wp:column -->
        <div class="wp-block-column"><!-- wp:query {"queryId":31,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"default"}} -->
            <div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"grid","columnCount":3}} -->
                <!-- wp:post-featured-image {"isLink":true,"height":"","scale":"contain","style":{"border":{"radius":"28px"}}} /-->

                <!-- wp:post-date {"format":"F j, Y"} /-->

                <!-- wp:post-title {"isLink":true,"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}},"fontSize":"l"} /-->

                <!-- wp:read-more {"content":"\u003cstrong\u003eRead more \u003e\u003c/strong\u003e","style":{"elements":{"link":{"color":{"text":"var:preset|color|accent-color"}}}},"textColor":"accent-color","fontSize":"m"} /-->
                <!-- /wp:post-template -->

                <!-- wp:query-pagination {"paginationArrow":"chevron","showLabel":false,"layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
                <!-- wp:query-pagination-previous /-->

                <!-- wp:query-pagination-numbers /-->

                <!-- wp:query-pagination-next /-->
                <!-- /wp:query-pagination --></div>
            <!-- /wp:query --></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->


