<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"main-home-page","layout":{"type":"default"}} -->
<main class="wp-block-group main-home-page dentix-gap-0">
    <!-- wp:pattern {"slug":"dentix/hero"} /-->
    <!-- wp:pattern {"slug":"dentix/welcome"} /-->
    <!-- wp:pattern {"slug":"dentix/services"} /-->
    <!-- wp:pattern {"slug":"dentix/clinics"} /-->
    <!-- wp:pattern {"slug":"dentix/our-team"} /-->
    <!-- wp:pattern {"slug":"dentix/book-appointment"} /-->
  <!-- wp:pattern {"slug":"dentix/posts-section"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
