<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"main-home-page","layout":{"type":"default"}} -->
<main class="wp-block-group main-home-page pedicare-child-health-clinic-gap-0">
    <!-- wp:pattern {"slug":"pedicare-child-health-clinic/hero"} /-->
    <!-- wp:pattern {"slug":"pedicare-child-health-clinic/welcome"} /-->
    <!-- wp:pattern {"slug":"pedicare-child-health-clinic/services"} /-->
    <!-- wp:pattern {"slug":"pedicare-child-health-clinic/clinics"} /-->
    <!-- wp:pattern {"slug":"pedicare-child-health-clinic/our-team"} /-->
    <!-- wp:pattern {"slug":"pedicare-child-health-clinic/book-appointment"} /-->
  <!-- wp:pattern {"slug":"pedicare-child-health-clinic/posts-section"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
