<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"dentix/single-hero"} /-->
<!-- wp:group {"tagName":"main","className":"dentix-gap-0","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","right":"0","left":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group dentix-gap-0" style="padding-top:var(--wp--preset--spacing--70);padding-right:0;padding-bottom:var(--wp--preset--spacing--70);padding-left:0">
    <!-- wp:pattern {"slug":"dentix/single-page-services"} /-->
    <!-- wp:pattern {"slug":"dentix/book-appointment"} /-->
    <!-- wp:pattern {"slug":"dentix/single-page-team"} /-->
    <!-- wp:pattern {"slug":"dentix/single-page-related"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

